.carusel__card{
    padding: 10px;
    width: 600px;
    display: grid;
    gap: 70px;
    transition: 1s;
}

 .box{
    overflow: hidden;
    height: 330px;
 }

 .corusel__btn{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: ;
    
 }