.fta__section{
    display: flex;
    flex-direction: row; 
    max-width: 1000px;
    margin: auto;
}

.fta__card{
    display: flex;
    flex-wrap: wrap;
}

/* card component */
.card__container{
   display: flex;
   flex-direction: column;
    width: 430px;
   
}

.card__content{
    margin:0 2rem;
}
.card__title h2{
    font-size: 28px;
    font-weight: bold;
}

.card__body p{
    margin: 29px 0;
    color:#94A2B3;
    font-size: 14px;
    position: relative;
}