.primary__wrapper__section{
    background: url(../../constatas/img/beck.png);
    background-size: 1550px;
    background-repeat: no-repeat;
    margin-top: 2px;
    height: 1000px;
   
}

.top__right{
    width: 500px;

}
.b__body{
    font-size: 16px;
    font-weight: 100;
    color: white;
    padding:  3px 0;
    width: 430px;
}

.b__title{
    font-size: 25px;
    font-weight: bold;
    padding: 20px 0;
    color: #ffffff;
    
}

/* <-------------------------------> */


.botton__wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;
}

.bottom__left{
    width: 500px;
}
.bottom__right{
    width: 200px;
}

