@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 7px;
    height: 5px;
    
  }
  
  ::-webkit-scrollbar-thumb{
    background-color: #7854F7;
    border-radius: 20px;
  }

.primary__bg{
  background-image: url(./constatas/img/Vector.png);
  background-size: 770px;
  background-repeat: no-repeat;
  background-position:right;margin: auto;
  }

  .box__wrapper{
    max-width: 1550px;
    margin: auto;
  }
  .primary-container{
    max-width: 1440px;
    margin: auto;
    position: relative;
  }

  .topic__section{
    font-weight: 700;
    font-size: 34px;
    text-align: center;
    color: #272d4e;
  }
  .rodius{
    border-radius: 40px;
  }

  