.primary__wrapper{
    display: flex;
    justify-content: flex-end;
   
    align-items: center;

}

.hero_bild{
    font-size: 62px;
    font-weight: bold;
      
}

.primary__wrapper p{
    margin: 10px 0;
    color:#94A2B3;
    font-size: 14px;
    position: relative;
}
.wrapper__right{
    height: 550px;
    width:690px;

}
.wrapper__left{
    position: relative;
    width: 670px;
    
    
}



@media screen and (max-width:950px) {
    .primary__wrapper{
        display: flex;
        flex-wrap: wrap;
    } 
    .wrapper__left{
       display: none;
    }
}

